.sending {
    background: #F4F5F5;
}

.sending__title {
    margin-top: 62px;
    font-size: 48px;
}

.sending__forms {
    margin-top: 57px;
}

.sending__form {
    margin-right: 28px;
    flex: 1;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #fff;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.sending__form:hover {
    border-color: red;
}

.sending__form:last-child {
    margin-right: 0px;
}

.sending__form--textarea {
    height: 235px;
    margin-top: 26px;
}

.sending__forms-item {
    display: flex;
}

.sending__choice {
    margin-top: 34px;
    display: flex;
}

.sending__choice-title {
    margin-right: 74px;
    font-size: 18px;
    width: 42%;
}

.sending__choice-table {
    display: flex;
    flex-direction: column;
}

.sending__choice-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -9px;
    margin-right: -7px;
}

.seending__choice-lab {
    cursor: pointer;
}

.sending__choice-item {
    margin-right: 7px;
    font-size: 13px;
    margin-bottom: 9px;
}

.sending__checkbox:checked ~ .tag--check {
    background: #B9EAE4;
}

.sending__checkbox {
    display: none;
}

.sending__buttons {
    display: flex;
    justify-content: end;
    margin-top: 32px;
    margin-bottom: 96px;
    width: 353px;
    justify-content: space-between;
    margin-left: 342px;
}
