.about {
   margin-top: 145px;
}

.about__gate {
    width: 490px;
    height: 505px;
    background-image: url(../../../image/gates.png);
    position: relative;
}   

.about__mountain {
    display: flex;
    flex-direction: column;
    width: 785px;
    height: 455px;
    background-image: url(../../../image/mountains.png);
    position: absolute;
}