.about {
   margin-top: 145px;
   height: 552px;
   margin-bottom: 54px;
}

.about__gate {
    width: 490px;
    height: 505px;
    background-image: url(../../../image/gates.png);
    position: relative;
}   

.about__mountain {
    width: 785px;
    height: 455px;
    background-image: url(../../../image/mountains.png);
    position: absolute;
    left: 355px;
    bottom: -46px;
}

.about__mountain-content {
    display: flex;
    flex-direction: column;
}