.header {
    display: flex;
    height: 123px;
    flex-direction: column;
    margin-top: 26px;
    }

.header__first {
    display: flex;
    align-items: center;
}

.header__second {
    margin-top: 97px;
}

.header__third {
    margin-top: 103px;
}