.hot-tours {
    display: inline-block;
    margin-top: 246px;
}

.hot-tours__title {
    margin-bottom: 51px;
    display: flex;
    align-items: center;
}

.hot-tours__title-text {
    font-size: 36px;
    color: #FFFFFF;
}

.hot-tours__title-icon {
    width: 21px;
    height: 28px;
    margin-left: 12px;
}

.hot-tours__list {
    display: flex;
    justify-content: space-between;
}

.hot-tours__item {
    background: #fff;
    width: 362px;
    color: #000;
    border-radius: 5px;
}

.hot-tours__image {
    width: 100%
    
}

.hot-tours__options-icon {
    vertical-align: middle;
    margin-right: 10px;
}


.hot-tours__content {
    padding: 33px 22px 26px 22px;
}

.hot-tours__text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hot-tours__options-item {
    display: inline-block;
    margin-right: 28px;
}

.hot-tours__options-item:last-child {
    margin-right: 0px;
}

.hot-tours__subtitle {
    font-size: 24px;
    margin-bottom: 21px;
    font-weight: 700;
}