.news {
    margin-top: 127px;
}

.news__title {
    margin-bottom: 51px;
    font-size: 36px;
    color: #FFFFFF;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news__item {
    display: flex;
    width: 557px;
    height: 394px;
    position: relative;
    border-radius: 5px;
}

.news__item--plane {
    background-image: url(../../../image/plain.png);
}

.news__item--surf {
    background-image: url(../../../image/Surfer.png);
}

.news__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
    position: absolute;
    top: 252px;
}

.news__subtitle {
    font-size: 24px;
    color: #fff;
    
}

.news__date {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 12px;
}

.news__text {
    color: #fff;
    margin-top: 3px;
}