.paginator {
    text-align: center;
    margin-top: 54px; 
}

.paginator__display {
    color: #FFFFFF;
}

.paginator__display, .paginator__list, .paginator__item {
    display: inline-block;
}


.paginator__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: transparent;
    border-radius: 50%;
    line-height: 32px;
    color: #fff;
    transition: .4s;
}

.paginator__link:hover {
    color: #F5170E;
    background: #fff;
}

